*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.logo{
    width: 300px;
    height: 300px;
    padding-bottom: 50px;
    padding-top: 0px;
}

.logo1{
    width: 300px;
    height: 250px;

}

p{
    color: white;
}

h1{
    background-image: linear-gradient(to bottom right, orange, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2{
    color: white
}


body{
    background-color: white;
}

.first-container{
    background-color: aqua;
}

.flex-container{
    display: flex;
}



